*{@extend .ro-r; margin: 0;padding:0;}
html{height: 100%;font-size: 18px;}
body,html{position: relative;}
textarea{resize: none;}
li ,ul , ol{text-decoration: none;list-style-type: none;}

a{text-decoration: none;color:$maintext;}
a:hover{color:$maintext}
li, ul ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p ,a {margin-bottom: 0;padding-bottom: 0px;}